# Node.js
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log    
package-lock.json

# Logs
*.log                # Exclude all log files
logs/                # Exclude a directory named 'logs'

# OS Files
.DS_Store            # Exclude macOS-specific hidden files
Thumbs.db            # Exclude Windows thumbnail database files

# IDE Configurations
.idea/               # Exclude JetBrains IDE (e.g., WebStorm, PyCharm) configuration files
.vscode/             # Exclude Visual Studio Code configuration files

# Environment Variables
.env                 # Exclude environment variable files (e.g., dotenv)

# Build Files
dist/                # Exclude distribution/build output
build/               # Exclude build artifacts
